#newQuoteMainAll {
    display: flex;
    flex-direction: column;
}

#newQuoteSecondQuoteAmountsContainer {
    display: flex;
    position: relative;
    border-bottom: 1px solid lightblue;
    padding-bottom: 2.5vh;
    width: 90%;
    left: 5%;
}

#newQuoteSecondQuote1Container, #newQuoteSecondQuote2Container {
    margin-left: 3vw;
    margin-top: 2vh;
    width: 45%;
}

#newQuoteSecondQuote1Text, #newQuoteSecondQuote2Text {
    margin-left: 4vw;
}

#newQuoteSecondQuote1Amount, #newQuoteSecondQuote2Amount {
    position: relative;
    border: 1px solid gray;
    margin: 2vw;
    text-indent: 4vw;
}



@keyframes moveProductName {
    from {
        left: 25%;
        text-align: center;
    }
    to {
        left: 5%;
        text-align: inherit;
    }
}

@keyframes moveProductNameBack {
    from {
        left: 5%;
        text-align: inherit;
    }
    to {
        left: 25%;
        text-align: center;
    }
}

#newQuoteSecondTotalAfterInstallContainer {
    display: flex;
    margin-top: 2vh;
    width: 100%;
    font-size: 5vw;
    font-weight: 600;
}

#newQuoteSecondTotalInvContainer {
    display: flex;
    width: 100%;
    font-size: 5vw;
    font-weight: 600;
}

#newQuoteSecondTotalAfterInstallTitle, #newQuoteSecondTotalInvTitle {
    text-indent: 4vw;
    width: 50%;
}

#newQUoteSecondTotalAfterInstallAmount1, #newQuoteSecondTotalInv1 {
    margin-left: 12vw;
}

#newQUoteSecondTotalAfterInstallAmount2, #newQuoteSecondTotalInv2 {
    margin-left: 10vw;
}

#newQuoteSecondRebateContainer {
    display: flex;
    margin-top: 2vh;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2vh;
    border-top: 1px solid lightgray;
    padding-top: 2vh;
    width: 100%;
}

.newQuoteSecondRebateTitle, .newQuoteSecondTaxCreditTitle {
    position: relative;
    width: 50%;
    left: 25%;
    text-align: center;
}

.newQuoteSecondRebateTitleAfter, .newQuoteSecondTaxCreditTitleAfter {
    position: relative;
    width: 50%;
    text-align: center;
    animation: moveProductName .25s forwards;
}

.newQuoteSecondRebateTitleAfterClose, .newQuoteSecondTaxCreditTitleAfterClose {
    position: relative;
    width: 50%;
    text-align: center;
    animation: moveProductNameBack .25s forwards;
}

.newQuoteSecondRebate1, .newQuoteSecondTaxCredit1 {
    display: none;
}

.newQuoteSecondRebate2, .newQuoteSecondTaxCredit2 {
    display: none;
}

.newQuoteSecondRebate1After, .newQuoteSecondTaxCredit1After {
    margin-left: 13vw;
}

.newQuoteSecondRebate2After, .newQuoteSecondTaxCredit2After {
    margin-left: 8vw;
}

.newQuoteSecondRebate1AfterClose, .newQuoteSecondTaxCredit1AfterClose {
    display: none;
}

.newQuoteSecondRebate2AfterClose, .newQuoteSecondTaxCredit2AfterClose {
    display: none;
}

#newQuoteSecondTaxCreditContainer, #newQuoteSecondTotalInvContainer {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2vh;
    padding-top: 2vh;
    width: 100%;
}

#newQuoteSecondButtons {
    display: flex;
    margin-top: 2vh;
}

#newQuoteSecondSubmitButton {
    background-color: var(--Main-Blue);
}

#newQuoteSecondBackButton, #newQuoteSecondSubmitButton {
    margin: 2vw;
    width: 20vw;
    height: 4vh;
    text-align: center;
    line-height: 4vh;
    border-radius: 10px;
}

#newQuoteSecondBackButton {
    background-color: lightgray;
    margin-left: 22vw;
}