#quoteListContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    left: 5%;
}


#quoteListTitleContainer {
    display: flex;
    height: 6vh;
    line-height: 6vh;
    margin-bottom: 2vh;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

#quoteListTitleContainer:hover {
    color: gray;
}

#quoteListDate {
    margin-left: 40vw;
}

#quoteArrow {
    position: relative;
    margin-top: 5vw;
    margin-left: 6vw;
}

#quoteDetailContainer {
    background-color: aliceblue;
    height: 20vh;
    margin-top: -4.5vw;
}