#quoteListContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    left: 5%;
}

#quoteListTitleContainer {
    display: flex;
    height: 6vh;
    line-height: 6vh;
    margin-bottom: 2vh;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

#quoteListTitleContainer:hover {
    color: gray;
}

#quoteListTitle {
    width: 70vw;
}

#quoteListDate {
    position: relative;
    margin-left: 10vw;
    left: 2vw
}

.quoteArrowDown{
    position: relative;
    margin-top: 2.5vw;
    margin-left: 6vw;
    font-size: 8vw;
}

#quoteDetailContainer {
    background-color: aliceblue;
    margin-top: -4.5vw;
    display: none;
}

#singleQuoteStatusText, #singleQuotePhoneText, #singleQuoteSqFootText, #singleQuoteTot1Text, #singleQuoteTot2Text {
    display: flex;
    position: relative;
    margin: 2vw;
    left: 2vw;
    font-size: 5vw;
}

#singleQuoteStatus, #singleQuotePhone, #singleQuoteSqFoot, #singleQuoteTot1, #singleQuoteTot2 {
    position: absolute;
    right: 0;
    margin-right: 4vw;
}

#singleQuoteUnderline {
    position: relative;
    width: 90%;
    left: 5%;
    border-bottom: 1px solid lightgray;
}

@keyframes openDetail {
    from {
        height: 0vh;
    }
    to {
        height: 25vh;
    }
}

@keyframes closeDetail {
    from {
        height: 25vh
    }
    to {
        height: 0vh;
    }
}